<h1>Showing all Events</h1>

<% if @events.nil? %>
  <%= "No Events" %>
<% else %>
  <% @events.each do |event| %>
    <%= event.name %><br>
    <%= event.date %><br>
    <%= event.location %><br>
    <%= event.description %><br><br>
  <% end %> 
<% end %>

