<div>
  <h1>Showing all Events</h1>
</div>
<% if user_signed_in? %>
  <% if @events.nil? %>
    <%= "No Events" %>
  <% else %>
    <%= "Upcoming Events: " %><br>
    <% @upcoming_events.each do |event| %>
      <%= link_to event.name, event %><br>
    <% end %><br><br>
    <%= "Past Events:" %><br>
    <% @past_events.each do |event| %>
      <%= link_to event.name, event %><br>
    <% end %>
    <br><br>
  <% end %>
  <%= link_to "New Event", new_event_path %>
  <%= link_to "My Events", user_path(current_user) %>
<% else %>
  <h3>Sign In or Register to see event details</h3>
  <%= "Upcoming Events: " %><br>
  <% @upcoming_events.each do |event| %>
    <%= event.name%><br>
  <% end %>  <br><br>
  <%= "Past Events:" %><br>
  <% @past_events.each do |event| %>
    <%= event.name %><br>
  <% end %>
  <br><br>
<% end %><br><br>

